.body {
  background-color: white;
}

.nav {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  display: block;
  overflow: hidden;
  margin-top: 0%;
  background-color: black;
}

.nav a {
  color: white;
  float: left;
  font: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  font-size: large;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04aa6d;
  color: white;
}
.page-link {
  height: 100px;
  width: 10%;

  text-align: center;
  position: relative;
  grid: inline;
}

.back-arrow {
  top: 0;
  height: 50px;
}

.forms {
  padding-top: 20%;
  position: absolute;
}

.forms p {
  background-color: green;
}

.main {
  margin-top: 60px;
}
